<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>OnepaySearch</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/mongo-config.xml,
			/WEB-INF/elastic-search-config.xml,
			/WEB-INF/schedule-tasks.xml,
			/WEB-INF/dynacache-memserver-application-context.xml
		</param-value>
	</context-param>
	<filter>
		<filter-name>charsetFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>charsetFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>InitServiceFinder</servlet-name>
		<servlet-class>vn.onepay.service.InitServiceFinder</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>1pay</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>1pay</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
	
	<!-- push object servlet-->
	<servlet>
		<servlet-name>IndexESCardServlet</servlet-name>
		<servlet-class>vn.onepay.search.servlets.IndexESCardServlet</servlet-class>
		<init-param>
			<param-name>access-key</param-name>
			<param-value>72hgke3h3brs6dwh6kgg</param-value>
		</init-param>
		<init-param>
			<param-name>secret-key</param-name>
			<param-value>i9er0d7gm7b9l9yt4ib8zjigwf6i1jpm</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexESCardServlet</servlet-name>
		<url-pattern>/card/pushIndex</url-pattern>
	</servlet-mapping>
	<!-- /push object servlet-->
</web-app>